<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>

<body class="container">

<h1>All Events</h1>

<P th:unless="${events} and ${events.size()}">No events! Try to create one.</P>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact email</th>
        </tr>
    </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td> <!-- this notation .name will ignite the getter for the name - implicitly. It is called
            syntactic sugar - easy to use. By the way our name is private; so, getter will be ignited-->
            <td th:text="${event.description}"></td>
            <td th:text="${event.contactEmail}"></td>
            <td th:text="${event.mustRegister}"></td>
            <td th:text="${event.quantityOfAttendees}"></td>
            <td th:text="${event.type}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a> <!--this is the link that will send on url events/edit/id number of item chosen at html-->

            </td>
        </tr>
</table>

<nav th:replace="fragments::navigation"></nav>

</body>
</html>